<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="App to see which paintings from which artists are in the collection of the Rijksmuseum">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link rel="stylesheet" href="/<%= revManifest['index.css'] %>">
    <link rel="manifest" href="/manifest.json">
    <script src="/<%= revManifest['index-min.js'] %>" defer></script>
    <title><%= title %></title>
</head>
<body>