<nav>
    <ul>
        <li>
            <span>Marijn's NS Reisplanner</span>
        </li>
    </ul>
</nav>

<section class="logo">
    <img src="/logo.svg" alt="Custom NS Reisplanner Icon">
</section>