.box.date {
    display: flex;
}

.year,
.month,
.day {
    label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            width: 125px;
            height: 133px;
            border: none;
        }
    }
}

.year {
    width: 150px;
    height: 150px;
    background: $color-year;

    @include header-box('JAAR', $color-year-dark);

    input {
        background-color: $color-year;
    }
}

.month {
    width: 150px;
    height: 150px;
    background: $color-month;

    @include header-box('MAAND', $color-month-dark);

    input {
        background-color: $color-month;
    }
}

.day {
    width: 150px;
    height: 150px;
    background: $color-day;

    @include header-box('DAG', $color-day-dark);

    input {
        background-color: $color-day;
    }
}