nav {
    position: relative;

    background-color: $ns-primary;
    color: $ns-primary-text-color;
    font-size: 1.25rem;

    z-index: 9999;

    ul {
        display: flex;
        padding: 0.75rem;

        li {
            display: flex;
            align-items: center;

            img {
                width: 40px;
                padding-right: 0.75rem;
            }

            span {
                margin-top: 0.25rem;
            }
        }
    }
}