<%- include('partials/head') %>

<main>
    <section class="header-wrapper">
        <h1>Plan je reis</h1>
    </section>

    <section class="content-wrapper">
        <form class="form" action="/">
            <h2>Van waar naar waar wil je reizen?</h2>
            <div class="travel_from-to">
                <label>
                    Van
                    <select class="focussable" id="departureStation">
                        <option value="Eindhoven">Thuis</option>
                        <option value="Amsterdam">Werk</option>
                    </select>
                </label>
                <button class="focussable btn-primary swap"><img src="/swap.svg" alt="Swap Button Icon"></button>
                <label>
                    Naar
                    <select class="focussable" id="arrivalStation">
                        <option value="Amsterdam">Werk</option>
                        <option value="Eindhoven">Thuis</option>
                    </select>
                </label>
            </div>
            <h2>Over hoeveel uur wil je vertrekken?</h2>
            <div class="travel_time">
                <button class="focussable btn-secondary" id="addOneHour">Over 1 uur</button>
                <button class="focussable btn-secondary" id="addTwoHours">Over 2 uur</button>
            </div>
            <h2 class="confirm">Klopt dit?</h2>
            <p class="travel-plan">Ik wil graag de treinen zien die nu van Eindhoven naar Amsterdam gaan.</p>
            <input id="submitButton" class="focussable btn-primary hide" type="submit" value="Ja, plan de reis!">
        </form>
    </section>

    <section class="legenda">
        <img src="/legenda.png" alt="Legenda">
    </section>
</main>

<%- include('partials/footer') %>
