<%- include('partials/head') %>

<section class="logo">
    <img src="/logo.svg" alt="Custom NS Reisplanner Icon">
</section>

<main>
    <section class="header-wrapper">
        <h1>Plan je reis</h1>
    </section>

    <section class="content-wrapper">
        <form class="form" action="/">
            <h2>Van waar naar waar wil je reizen?</h2>
            <div class="travel_from-to">
                <label>
                    Van
                    <select class="focussable">
                        <option value="Eindhoven">Thuis</option>
                        <option value="Amsterdam">Werk</option>
                    </select>
                </label>
                <label>
                    Naar
                    <select class="focussable">
                        <option value="Amsterdam">Werk</option>
                        <option value="Eindhoven">Thuis</option>
                    </select>
                </label>
            </div>
            <h2>Over hoeveel uur wil je vertrekken?</h2>
            <div class="travel_time">
                <button class="focussable btn-secondary">Over 1 uur</button>
                <button class="focussable btn-secondary">Over 2 uur</button>
            </div>
            <input id="submitButton" class="focussable btn-primary" type="submit" value="Plan de reis">
        </form>
    </section>

    <section class="legenda">
        <img src="/legenda.png" alt="Legenda">
    </section>
</main>

<%- include('partials/footer') %>
