$color-white: #f5f5f5;
$color-black: #333;

$background-color: #5ed0ba;

$color-year: #ec7063;
$color-year-dark: #e74c3c;
$color-month: #f6b517;
$color-month-dark: #f39c12;
$color-day: #5dade2;
$color-day-dark: #3498db;

$background-color-items: #209e8a;