$color-white: #f5f5f5;
$color-black: #333;

$background-color: #3d3d3d;

$ns-primary: #ffc917;
$ns-primary-dark: #ffb519;
$ns-primary-text-color: #003082;
$ns-secondary: #0063d3;
$ns-secondary-dark: #004ba0;
$ns-secondary-text-color: #fff;
