html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 100%, transparent), url('/concert.jpg');
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    height: 100%;
}

h1 {
    margin: 2.75rem 0 1.5rem 0;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 125px;
    }
}

.content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;
}

.travel-plan {
    max-width: 400px;
    word-wrap: break-word; /* Fallback */
    overflow-wrap: break-word;
    margin-bottom: 2.5rem;
}