html {
    height: 100%;
}

body {
    background: $background-color;
}

h1 {
    margin: 2.75rem 0;
}

.header-wrapper {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6.5rem;
}

.logo {
    position: absolute;
    left: 2.5rem;
    top: 1rem;
    z-index: 9998;

    img {
        width: 150px;
    }
}

.travel-plan {
    max-width: 400px;
    word-wrap: break-word; /* Fallback */
    overflow-wrap: break-word;
    margin-bottom: 2.5rem;
}