@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

html {
    font: 16px $font;
}

body {
    font-size: 16px;
    color: $color-white;
    line-height: 1.5em;
}

h1 {
    font-size: 32px;
    font-weight: 900;
}

input[type='submit'],
button {
    color: $color-black;
}

h1,
h2 {
    font-family: $font-special-elite;
}

.items-wrapper {
    .item {
        color: $color-white;
        text-align: center;
    }
}

.travel-plan,
.error {
    text-align: center;
}