$ns-box-shadow-primary: inset 0 -0.125rem 0 $ns-primary-dark;
$ns-box-shadow-primary-hover: inset 0 -3.125rem 0 $ns-primary-dark;
$ns-box-shadow-secondary: inset 0 -0.125rem 0 $ns-secondary-dark;
$ns-box-shadow-secondary-hover: inset 0 -3.125rem 0 $ns-secondary-dark;

$font: "Helvetica", sans-serif;
$font-anton: "Anton", sans-serif;
$font-special-elite: "Special Elite", sans-serif;